@import "tailwindcss";

@theme {
  --color-primary: #FF0000;
  --color-secondary: #EF4444;
  --color-third: #6B7280;
  --color-header: #282C34;
  --color-gray: #F6F7F9;
  --color-advertisment: #E5E7EB;
  --color-lightred: #FFF7F7;
}

html, body {
  overflow-x: hidden;
}